<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Devo day</title>
</head>
<body>
    {{> header }}

    <section>
        <div class="cards">
            <div class="card">
                <h1>Versículo</h1>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, earum incidunt deleniti possimus temporibus doloribus vitae. Similique corrupti quae rerum. Aliquam rem explicabo excepturi mollitia architecto dignissimos quo temporibus deleniti?"</p>
                <div class="modificadores">
                    <a><i class="fi fi-rr-pencil"></i></a>
                    <a><i class="fi fi-rr-trash"></i></a>
                </div>
                <span class="data">xx/xx/xx</span>
            </div>
        </div>

        <div class="coluna">
            <div class="sugestao boxShadow">
                <h2>Sugestão de hoje</h2>
                <h1>{{sugTit}}</h1>
                <p>{{sugTex}}</p>
                <div class="mais">
                    <a href="sugerido">Iniciar devocional
                    <i class="fi fi-rr-add"></i></a>
                </div>
            </div>

            <div class="conquistas boxShadow">
                <h2>Conquistas</h2>
                <h1>Persistência {{level}}</h1>
                <div class="content">
                    <div class="barra">
                        <span class="feito">{{cardsF}}</span>
                        <progress id="progress" value={{cardsF}} max={{cardsLevel}}></progress>
                        <span class="total">{{cardsLevel}}</span>
                    </div>
                    <p>Faça {{cardsLevel}} devocionais</p>
                </div>
            </div>
        </div>

        <div class="boxShadow novo">
            <a href="../criar"><i class="fi fi-rr-add"></i></a>
        </div>
    </section>
</body>
</html>