<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Devo day</title>
</head>
<body>
    {{> header }}

    <section>
        <div class="cards">
            {{#each cards as | card |}}
                <div class="card">
                    {{#ifEquals card/versInicial card/versFinal}}
                        <h1>{{card/livro}} {{card/capitulo}}:{{card/versInicial}}</h1>
                    {{else}}
                        <h1>{{card/livro}} {{card/capitulo}}:{{card/versInicial}}-{{card/versFinal}}</h1>
                    {{/ifEquals}}

                    {{#ifEquals card/q1 ""}}
                        {{#ifEquals card/q2 ""}}
                            <p class="alert">Nenhum texto foi escrito</p>
                        {{else}}
                            <p>"{{card/q2}}"</p>
                        {{/ifEquals}}
                    {{else}}
                        <p>"{{card/q1}}"</p>
                    {{/ifEquals}}
                    <div class="modificadores">
                        <form action="/criar/editar" method="post">
                            <label for="editar"><i class="fi fi-rr-pencil"></i></label>
                            <input type="number" name="tite" value="{{card/id}}" style="display: none;">
                            <input type="submit" id="editar" style="display: none;">
                        </form>
                        <form action="/criar/excluir" method="post">
                            <label for="excluir"><i class="fi fi-rr-trash"></i></label>
                            <input type="number" name="ide" value="{{card/id}}" style="display: none;">
                            <input type="submit" id="excluir" style="display: none;">
                        </form>
                    </div>
                    <span class="data">{{card/data}}</span>
                </div>
            {{/each}}
        </div>

        <div class="coluna">
            <div class="sugestao boxShadow">
                <h2>Sugestão de hoje</h2>
                <h1>{{sugTit}}</h1>
                <p>{{sugTex}}</p>
                <div class="mais">
                    <a href="sugerido">Iniciar devocional
                    <i class="fi fi-rr-add"></i></a>
                </div>
            </div>

            <div class="conquistas boxShadow">
                <h2>Conquistas</h2>
                <h1>Persistência {{level}}</h1>
                <div class="content">
                    <div class="barra">
                        <span class="feito">{{cardsF}}</span>
                        <progress id="progress" value={{cardsFM}} max={{cardsLevelFM}}></progress>
                        <span class="total">{{cardsLevel}}</span>
                    </div>
                    <p>Faça {{cardsLevel}} devocionais</p>
                </div>
            </div>
        </div>

        <div class="boxShadow novo">
            <a href="../criar"><i class="fi fi-rr-add"></i></a>
        </div>
    </section>
</body>
</html>