<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/card.css">
    <link rel="stylesheet" href="../../css/tutoleft.css">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Criar card</title>
</head>
<body>
    <div class="cont">
        <a href="/" class="sair">Sair do tutorial</a>
        <img src="/imgs/felizFB.png" alt="guia">
        <div class="txts">
            <div class="text">
                <p>Após isso é hora de refletir sobre a leitura. É importante que você busque orientação para não interpretar as leituras de maneira equivocada e para ter uma experiência melhor, afinal, caminhamos juntos nessa jornada! Caso queira me contar sua experiência, reportar erros ou ver este tutorial novamente, basta clicar nos botões ao lado da sua foto de perfil.</p>
            </div>
            <div class="text">
                <p>As perguntas te ajudarão a desenvolver sua reflexão, mas não vamos respondê-las agora, você terá oportunidade para isso futuramente clicando no lápis. Clique em salvar para continuar nosso tour.</p>
            </div>
        </div>
    </div>
    {{> header }}

    <section>
        <div class="left">
            <form action="/criar/resultado" method="POST" class="boxShadow form">
            <div class="label">
                <label for="Livro">Livro</label>
                <select class="form-select" aria-label="Default select example" id="Livro" name="livro" onclick="mudou1(value)" required> {{!-- quando o usuário clicar fora da seleção a função será executada --}}
                    <option selected disabled>Escolha o livro</option>
                    <optgroup label="Antigo Testamento">
                        {{#each txts_old as | livro |}}
                            <option value={{livro/nome}}
                                {{#if (checkSelected livro/nome selected)}}
                                    selected
                                {{/if}}>
                                {{livro/nome}}
                            </option>
                        {{/each}}
                    </optgroup>
                    {{!-- Todas as opções de livro dentro da lista antigo.livros serão impressas em uma option --}}
                    <optgroup label="Novo Testamento">
                        {{#each txts_new as | livro |}}
                            <option value={{livro/nome}}
                                {{#if (checkSelected livro/nome selected)}}
                                    selected
                                {{/if}}>
                                {{livro/nome}}
                            </option>
                        {{/each}}
                    </optgroup>
                </select>
            </div>
            
            {{!-- As listas seguintes serão preenchidas por meio de funções --}}

            <div class="label">
                <label for="Capítulo">Capítulo</label>
                <select class="form-select" aria-label="Default select example" id="Capítulo" name="capitulo" onclick="mudou2(value)" required>
                    <option selected disabled>Escolha o capítulo</option>
                </select>
            </div>

            <div class="label">
                <label for="Versículo inicial">Versículo inicial</label>
                <select class="form-select" aria-label="Default select example" id="VersículoI" name="verI" required></select>
            </div>
            
            <div class="label">
                <label for="Versículo final">Versículo final</label>
                <select class="form-select" aria-label="Default select example" id="VersículoF" name="verF" required></select>
            </div>

            <input type="submit" style="margin: 20px;" value="Exibir" class="btn">
            </form>

            <script>
                const txts_old = {{{json txts_old}}}
                const txts_new = {{{json txts_new}}}
                const livro = document.querySelector('#Livro');
                let listaCap = document.querySelector('#Capítulo');
                let listaVerI = document.querySelector('#VersículoI');
                let listaVerF = document.querySelector('#VersículoF');

                let nomes; // recupera o livro escolhido na função mudou

                function mudou1(valor) { //  MUDANDO LIVRO
                    // Limpar as options
                    var L = listaCap.options.length - 1;

                    for (var i = L; i >= 1; i--) {
                        listaCap.remove(i)
                    }

                    // Rodar a função
                    for (a = 0; a < txts_old.length; a++){ // Verifica no antigo testamento
                        if (txts_old[a].nome == valor){ // Procura o livro
                            for (z = 1; z <= txts_old[a].capitulos; z++) { // Lista os capítulos
                                let option = document.createElement('option');
                                option.value = z;
                                let conteudo = document.createTextNode(z);
                                option.appendChild(conteudo);

                                listaCap.appendChild(option);
                            };
                            return nomes = txts_old[a].nome
                        }
                    }
                    for (a = 0; a < txts_new.length; a++){ // Verifica no antigo testamento
                        if (txts_new[a].nome == valor){ // Procura o livro
                            for (z = 1; z <= txts_new[a].capitulos; z++) { // Lista os capítulos
                                let option = document.createElement('option');
                                option.value = z;
                                let conteudo = document.createTextNode(z);
                                option.appendChild(conteudo);

                                listaCap.appendChild(option);
                            };
                            return nomes = txts_new[a].nome
                        }
                    }
                };
                
                function mudou2(valor) { // MUDANDO CAPÍTULO
                    // Limpar as options
                    var M = listaVerI.options.length - 1;
                    var N = listaVerF.options.length - 1;

                    for (var i = M; i >= 0; i--) {
                        listaVerI.remove(i)
                    }
                    for (var i = N; i >= 0; i--) {
                        listaVerF.remove(i)
                    }

                    // Rodar a função
                    for (a = 0; a < txts_old.length; a++){ // Verifica no antigo testamento
                        if (txts_old[a].nome == nomes){ // Procura o livro
                            for (z = 1; z <= txts_old[a].leitura[valor]["versi"]; z++) { // Lista os versículos
                                let option = document.createElement('option');
                                option.value = z;
                                let conteudo = document.createTextNode(z);
                                option.appendChild(conteudo);

                                listaVerI.appendChild(option.cloneNode(true))
                                listaVerF.appendChild(option)
                                if (txts_old[a].leitura[valor]["versi"] == z) {
                                    option.selected = true
                                }
                            }
                        }
                    }
                    for (a = 0; a < txts_new.length; a++){ // Verifica no antigo testamento
                        if (txts_new[a].nome == nomes){ // Procura o livro
                            for (z = 1; z <= txts_new[a].leitura[valor]["versi"]; z++) { // Lista os versículos
                                let option = document.createElement('option');
                                option.value = z;
                                let conteudo = document.createTextNode(z);
                                option.appendChild(conteudo);

                                listaVerI.appendChild(option.cloneNode(true))
                                listaVerF.appendChild(option)
                                if (txts_new[a].leitura[valor]["versi"] == z) {
                                    option.selected = true
                                }
                            }
                        }
                    }
                }
            </script>

            <div class="boxShadow res">
                <h1>{{tit}}</h1>
                <p>{{message}}</p>
            </div>
        </div>

        <div class="rigth boxShadow marcado">
            <form action="/criar/devocional" method="post">
            <input type="text" name="titulo2" value="{{titInp}}" style="display: none;">
                <h1>Devo xx.xx.xxxx</h1>
                <div class="label">
                    <label for="q1">O que a passagem quer dizer?</label>
                    <textarea class="boxShadow" name="q1" id="q1" placeholder="O que o texto significa? Qual o contexto da passagem?" rows="3"></textarea>
                </div>
                <div class="space"></div>
                <div class="label">
                    <label for="q2">O que Deus está me falando a partir dela?</label>
                    <textarea class="boxShadow" name="q2" id="q2" placeholder="O que o texto me diz? O que eu respondo a Deus?" rows="3"></textarea>
                </div>
            
                {{#if err}}
                    <p class="alert">{{err}}</p>
                {{/if}}
                <input type="submit" value="Salvar" class="btn">
            </form>
        </div>
    </section>
</body>
</html>